.containers {
  padding: 20px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 2%;
  row-gap: 2%;
}
.item {
  background-color: rgb(87, 79, 79);
  padding: 20px;
  font-size: 0.77rem;
  line-height: 1.7;
}
.item p {
  margin: 0;
}

.example-banner {
  background-color: rgb(97, 156, 9);
  width: 90%;
  height: 150px;
}
.example-banner h1 {
  margin-top: 10px;
}
